<!DOCTYPE html>
<html>
    <head>
        <style>
            .video-box .text-box{
                position: absolute;
                mix-blend-mode: screen;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
            }
        </style>
    </head>
    <body>
        <div class="video-box">
            <video autoplay loop muted>
                <source src="C:/Users/Vipul/Desktop/vineet/python/flask/static/log_create bgv.mp4" type="video/mp4" >
            </video>
            <div class="text-box">
                <h2>Quiz</h2>
            </div>
        </div>
    </body>
</html>